@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --montserrat: "Montserrat", sans-serif;
  --green: #29704f;
  --orange: #e57523;
  --blue: #01d3f3;
}

* {
  box-sizing: border-box;
  font-family: var(--montserrat);
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: whitesmoke;
}