.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1.75rem;
  align-items: center;

  .textItem {
    font-family: var(--montserrat);
    font-size: 28px;
    color: white;
    text-decoration: none;
  }
}
